<!DOCTYPE html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="/resource/error.css">
        <script type="text/javascript" href="/resource/keylogger.js"></script>
    </head>
    <html>
    <body>
    <div class="container">
        <div class="extraShadow1"></div>
        <div class="extraShadow2"></div>
        <div class="borderContainer">
            <div class="border">
                <div class="straight"></div>
                <div class="dot"></div>
                <div class="circleShadow"></div>
            </div>
        </div>
        <div class="ErrorContainer1">
            <div class="ErrorContainer2">
                <div class="ErrorMessage">
                    <h1>ERROR</h1>
                </div>
                <div class="ErrorContents">
                    <div class="ErrorContents2">
                        <% errorDetails.forEach((mesg)=>{%>
                            <p><%- mesg%></p>
                        <%}) %>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="buttonContainer">
    <%  var links = { Register: "http://register.venerity.xyz" } %>
    <button onclick=window.location.href="<%=links[button] ?? "/" %>"; >
        Enter
    </button>
    <h4 onclick=window.location.href="<%=links[button] ?? "/" %>"; >
        <%=button ?? "Retry" %>
    </h4>
    </div>
    <script>
        document.addEventListener("keypress", (e)=>{
            e = e || window.event;
            if(e.keyCode === 13){
                console.log("enter!")
                window.location.href = "<%=links[button] ?? "/"%>";
            }
        });
    </script>
    </body>
</html>