<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="Venerity panel" property="og:title" />
        <meta content="https://api.venerity.xyz/api/panel" property="og:url" />
        <meta content="https://cdn.discordapp.com/attachments/1045010061799460864/1062832377262526535/crotalogo.jpg" property="og:image" />
        <meta content="#ae27ff" data-react-helmet="true" name="theme-color" />
        <link rel="shortcut icon" type="image/webp" href="https://cdn.discordapp.com/emojis/1061526156454666280.webp?size=96&quality=lossless"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/resource/panel.css">
        <link rel="shortcut icon" type="image/webp" href="https://cdn.discordapp.com/emojis/1061526156454666280.webp?size=96&quality=lossless"/>
        <title>Venerity</title>
    </head>
    <body>
        <nav>
            <div id="logo">Venerity</div>
            <div class="user">
                <div class="userIcon">
                    <img id="dc-avatar" src="https://cdn.discordapp.com/avatars/<%=data.discordUser.id%>/<%=data.discordUser.avatar%>.png">
                </div>
                <div class="userName"> <%= `${data.DBData.discordUser.username}${data.DBData.discordUser.discriminator === "0" ? "" : `#${data.DBData.discordUser.discriminator}`}` %> </div>
                <svg id="caret" class="rotated" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 14.5l5-5 5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </nav>
        <div id="contentContainer">
            <aside>
                <div id="characters">
                    <% data.characters.sort((a,b) => b.character.data.light-a.character.data.light).map(character => { %>
                        <div class="character">
                            <div class="characterInfo">
                                <div
                                class="characterEmblem"
                                style="background-image: url('https://www.bungie.net/common/destiny2_content/icons/ecafe3e611c54e78656b85b77c8ee2f7.jpg')"
                                />
                                <div class="characterDetails">
                                    <div class="characterType"><%=data.classHashes.get(character.character.data.classHash)%></div>
                                    <div class="characterTitle"><%-data.recordDefinitions[character.character.data.titleRecordHash] !== undefined ? data.recordDefinitions[character.character.data.titleRecordHash]["titleInfo"]["titlesByGender"]["Male"] : ""%></div>
                                </div>
                                <div class="characterPower">
                                    <div class="characterPowerImage">✧</div>
                                    <div class="characterPowerValue"><%=character.character.data.light%></div>
                                </div>
                            </div>
                            <div class="characterStats">
                                <div class="healthStat characterStat">
                                    <img src="/resource/health.png" />
                                    <%=character.character.data.stats["392767087"]%>
                                </div>
                                <div class="strength characterStat">
                                    <img src="/resource/strength.png" />
                                    <%=character.character.data.stats["4244567218"]%>
                                </div>
                                <div class="grenadeStat characterStat">
                                    <img src="/resource/grenade.png" />
                                    <%=character.character.data.stats["1735777505"]%>
                                </div>
                                <div class="superStat characterStat">
                                    <img src="/resource/super.png" />
                                    <%=character.character.data.stats["144602215"]%>
                                </div>
                                <div class="classStat characterStat">
                                    <img src="/resource/class.png" />
                                    <%=character.character.data.stats["1943323491"]%>
                                </div>
                                <div class="weaponStat characterStat">
                                    <img src="/resource/weapon.png" />
                                    <%=character.character.data.stats["2996146975"]%
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </aside>
            <main>
                <div class="raidContainer">
                    <% if (data.DBData.raids["Total"] !== 0) { %>
                        <h2>Raid Completions</h2>
                        <div class="raidTotal">
                            Total:
                            <div id="raidTotalValue"><%=data.DBData.raids["Total"]%></div>
                        </div>
                        <div class="raids">
                            <% Object.keys(data.raids).filter(a => a != "Total" && data.DBData[a] !== 0).forEach(raid => { %>
                                <div class="clearCard">
                                    <div
                                        class="cardEmblem"
                                        style="
                                            background-image: url('TODO');
                                        "
                                    ></div>
                                    <div class="cardDetails">
                                        <div class="cardName"><%=raid%></div>
                                        <div class="cardClears"><%- data.raids[raid][0]%> clears</div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    <% } %>
                </div>
                <div class="dungeonContainer">
                    <% if (data.DBData.dungeons["Total"] !== 0) { %>
                        <h2>Dungeon Completions</h2>
                        <div class="dungeonTotal">
                            Total:
                            <div id="dungeonTotalValue"><%=data.DBData.dungeons["Total"]%></div>
                        </div>
                        <div id="dungeons">
                        <% Object.keys(data.dungeons).filter(a => a != "Total" && data.DBData[a] !== 0).forEach(dungeon => { %>
                            <div class="clearCard">
                                <div class="cardEmblem" style="background-image: url('TODO')"></div>
                                <div class="cardDetails">
                                    <div class="cardName"><%=dungeon%></div>
                                    <div class="cardClears"><%- data.dungeons[dungeon][0]%> clears</div>
                                </div>
                            </div>
                        <% }) %>
                        </div>
                    <% } %>
                </div>
                <div class="grandmasterContainer">
                    <h2>GM Completions</h2>
                    <div class="gmTotal">
                        Total:
                        <div id="gmTotalValue"><%=data.DBData.grandmasters["Total"]%></div>
                    </div>
                    <div id="grandmasters">
                    <% Object.keys(data.gms).filter(a => a != "Total" && data.DBData[a] !== 0).forEach(gm => { %>
                        <div class="clearCard">
                            <div class="cardEmblem" style="background-image: url('https://img.raidreport.dev/salvationsedge.jpg')"></div>
                            <div class="cardDetails">
                                <div class="cardName"><%=gm%></div>
                                <div class="cardClears"><%- data.gms[gm][0]%> clears</div>
                            </div>
                        </div>
                    <% }) %>
                    </div>
                </div>
            </main>
        </div>
        </div>
    </body>
</html>